* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: #ccc;
    text-shadow: 0px 0px 5px white;
    padding: 10px;
}
main {
    max-width: 960px;
    margin: auto;
}
hr {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}
button {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin: 5px;
}
label {
    font-weight: bold;
    display: block;
    font-size: 14px;
    padding: 5px 0;
}
#submit {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}
.input {
    margin: 10px;
}
input {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: none;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}
input#quote {
    height: 100px;
    width: 280px;
}
.normal > p {
    color: peachpuff;
    font-size: 24px;
    text-shadow: 0px 3px 3px black;
}
.container {
    border-sizing: border-box;
    background-color: #ccd;
    width: 100%;
    padding: 20px;
}
.quote-block {
    display: inline-block;
    background-color: #FFF;
    margin-right: 5px;
    margin-top: 20px;
    font-height: 0;
    padding: 5px;
}
.quote-block > a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
}
.quote-text {
    position: relative;
    padding: 10px;
}
.undo {
    display: none;
}
.show {
    display: block;
}
